/* :host {
  --colorify__color-container--max-height: 550px;
  --colorify__color-picker--height: 15rem;
} */

.head-space {
  margin-top: var(--colorify__alias--space-md);
}

h1 {
  font-size: var(--colorify-alias__font-large--font-size);
  line-height: var(--colorify-alias__font-large--line-height);
}

.container {
  padding: var(--colorify__alias--space-lg) 0;
  background-color: var(--colorify-alias__color--primary);
}
