:host {
  --colorify__color-tile--min-height: 10rem;
  --colorify__color-tile--border-radius: 0;
}

.gradient-container {
  display: grid;
  grid-template-columns: repeat(5, min(15vw, 10rem));
  max-height: 10vh;
}

@media screen and (min-width: 840px) {
  .gradient-container {
    display: grid;
    grid-template-columns: repeat(5, var(--colorify__color-tile--min-height));
    max-height: 10vh;
  }
}
