div {
  min-height: var(--colorify__color-tile--min-height, 15rem);
  background-color: var(--colorify__color-tile--background, grey);
  min-width: var(--colorify__color-tile--min-width, 100%);
  height: var(--colorify__color-tile--height, 100%);
  scroll-snap-align: var(--colorify__color-tile--snap, start);
  border-radius: var(--colorify__color-tile--border-radius, 3px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: var(--colorify__color-tile--distance);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: var(--colorify__color-tile--cursor, pointer);
}

div:hover {
  transform: scale(1.03, 1.03);
}

div::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--colorify__color-tile--border-radius, 3px);
  z-index: -1;

  opacity: 0;
  box-shadow: var(--colorify__color-tile-hover--distance);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

div:hover::after {
  opacity: 1;
  transition: opacity 250 ease-in-out;
}
