:host {
  min-height: var(--colorify__color-tile--min-height, 20rem);
}
div {
  background-color: var(--colorify__color-tile--background, grey);
  min-width: var(--colorify__color-tile--min-width, 100%);
  height: var(--colorify__color-tile--height, 100%);
  scroll-snap-align: var(--colorify__color-tile--snap, start);
  border-radius: var(--colorify__color-tile--border-radius, 3px);

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: var(--colorify__color-tile--distance);
  transition: all 250ms ease-in;
}

div:hover {
  transition: all 250ms ease-in;
  box-shadow: var(--colorify__color-tile-hover--distance);
}
