:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

:host ::slotted(*) {
  margin-bottom: var(--colorify__stack--gap, var(--colorify__alias--space-md));
}

@media screen and (min-width: 840px) {
  :host([direction='row']) {
    flex-direction: row;
  }
  :host([direction='row']) ::slotted(*) {
    margin-right: var(--colorify__stack--gap, var(--colorify__alias--space-md));
  }
}
