:host {
  /* border: 1px solid lightgray; */
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  justify-content: center;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  max-height: 550px;
  flex-wrap: wrap;
  overflow-y: scroll;
  scroll-snap-type: both mandatory;
  scroll-padding: 1rem;

  --colorify__color-tile--distance: var(
    --colorify-alias__shadow-distance--close
  );
  --colorify__color-tile-hover--distance: var(
    --colorify-alias__shadow-distance--far
  );
}
