:host {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-wrap: wrap;

  --colorify__color-tile--distance: var(
    --colorify-alias__shadow-distance--close
  );
  --colorify__color-tile-hover--distance: var(
    --colorify-alias__shadow-distance--far
  );
}

@media screen and (min-width: 840px) {
  :host {
    max-height: none;
    grid-template-columns: repeat(4, min(20rem, 20vw));
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }
}
